
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Cabin:600,600i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap);

html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #1381B0;
  --header-color:    #1381B0;
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    Noto Sans;
  --mono-font:       Noto Sans;
  --body-font:       Noto Sans;
  --navbar-font:     Noto Sans;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

d-article div.sourceCode,
d-article pre {
  font-family: 'Fira Mono', monospace;
  font-size: 1rem;
	background: #E5E5F4;
	padding: 1em;
}

d-article p code {
  font-family: 'Fira Mono', monospace;
	background: #E5E5F4;
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       18px;
  --text-color:       white;
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #1381B0;
}

.distill-site-footer {
  --text-color:       white;
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #1381B0;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

.distill-site-nav {
  color: white;
  background-color: #1381B0;
  font-size: 15px;
  font-weight: 300;
}
